@use "../../styles/globalstyles.scss" as *;

.iconContainer {
    user-select: none;

    &__collection {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: $padding-tab-default;
        border-bottom: 1px solid $border-color;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__title {
        flex: 1;
    }
}

// Styles cho tree structure
.treeItem {
    border-bottom: 1px solid rgba($border-color, 0.3);
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.treeItemContent {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 5px;

    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.treeChildren {
    border-left: 1px solid rgba($border-color, 0.5);
}