@use "../../styles/globalstyles.scss" as *;
.tab {
    position: relative;
    padding: 16px 30px 16px 20px;
    border-bottom: 2px solid $border-color;
    border-left: 1px solid $border-color;
    &__close {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}
